:root {
  --font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --mono-font-family: "Source Code Pro", SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

#app #provider {
  font-size: var(--font-size-s);
  margin: 40px 0;
  transition: opacity .5s, margin .5s;
  text-align: center;
  opacity: 1;
  color: var(--gray-font-color);
}

#app #provider.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

body.zen #app #provider {
  opacity: 0;
}

@media screen and (max-width: 750px) {
  #app #provider {
    margin: 24px 0;
  }
}
